
nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
  width: 100%;
  box-shadow: 0 0 0.5rem 0;
  ul{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin: 0 0.75rem;
  }
  .logo{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
    background-color: black;
    border-radius: 11% 80% 75% 10% / 48% 45% 37% 48%;
    padding: 2px;
    margin-left: 1.5rem;
}
}