.redesFooter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  .titleFooter{
    color: var(--secondary-color);
    font-size: var(--font-large);
  
  }

  .iconsFooter{
    display: flex;
    gap: 2rem;
  }
}


