

div#root{
  
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  main{
    margin: 1rem 2rem;
    margin-bottom: auto;
  }
  
  footer{
    align-self: center;
    justify-self: end;
    width: 90%;
    margin-bottom: 0;
  }
}