a.linkComponent{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: black;
  font-size: 1rem;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 1rem;
  height: 48px;
  & > div.iconCount{
    position: relative;
    overflow: hidden;
    height: 2.5rem;
    width: 2.5rem;
    & > img{
      z-index: 10;
      height: 100%;
    }
    & > span{
      z-index: 20;
      /* background-color: var(--accent-color); */
      background-color: red;
      border-radius: 0.5rem;
      width: auto;
      padding: 0 0.25rem;
      height: 1rem;
      font-size: small;
      font-weight: bold;
      color: white;
      position: absolute;
      top: 0;
      right: 1px;
      text-align: center;
      
      
    }
  }
}


.filled{
  background-color: var(--secondary-color);
}

.bordered{
  border: 1px solid darkgray;
}

